body {
    max-width: 100%;
    height: 100px;
    background-image: url('./sand-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    

}

.header {
    width: 100%;
    height: 100px;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-size: 250%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.menu {
    width: 100%;
    height: 50px;
    background: black;
    color: white;
    margin: 0;
    text-decoration: none;
    position : fixed;
    
}

.menu li { 
    width: 19.5%;
    float: left;
    color: white;
    text-align: center;
    line-height: 50px;
    background-color: "black";
    overflow: hidden;
    text-decoration: none;
}

.name1 {
    width: 100%;
    float: center;
    text-align: center;
    color: black;
    font-size: 500%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position : fixed;
    line-height: 100px;

}

.footer {
    width: 100%;
    height: 100px;
    display: flex;
    background: black;
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    position : fixed;
    bottom: 0;
}